{% extends 'main/layout.html' %}
{% load static %}

{% block title%}
Главная
{% endblock %}

{% block content %}
    <div class="banner">
    <div class="text">
      <h1>Шиномонтаж на высшем уровне - <br> ваше спокойствие на дороге</h1>
      <p>Запишитесь на<br> шиномонтаж прямо<br> сейчас!</p><br>
        <a href="{% url 'uslugi' %}#booking_form" class="button">Записаться</a>
    </div>
        <img class="image" src="{% static 'shinka/img/колесо.png' %}" alt="Шины">
  </div>
<div class="about-us">
    <h1 class="about">О нас</h1>
  <section class="about-section">
      <img class="about-image" src="{% static 'shinka/img/o nas1.jpg' %}" alt="Изображение о нас">
      <div class="about-text">
      <p>Мы работаем с 2008 года и знаем толк в своем деле. Наша шиномонтажная предлагает профессиональные услуги по замене и балансировке колес, а также ремонту шин. Мы работаем с опытными специалистами, используем современное оборудование и качественные материалы, чтобы обеспечить безопасность и комфорт на дороге каждому нашему клиенту. Наш приоритет - качественное обслуживание и довольные клиенты, поэтому мы гарантируем выполнение всех работ и индивидуальный подход к каждому автомобилю. Доверьте свои колеса профессионалам и наслаждайтесь комфортной поездкой каждый день!
      </p>
    </div>
  </section></div>
<h1 class="preim">Наши преимущества</h1>
  <section class="advantages-section">
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="circle">
                <img class="icon" src="{% static 'shinka/img/specialist.png' %}" alt="Преимущество 1">
        </div>
        <p class="preim_text">Опытные специалисты:<br>
на шиномонтажной работают профессионалы, которые точно знают, как выполнять работу без повреждения шин и дисков</p>
      </li>
      <li class="advantages-item">
        <div class="circle">
            <img class="icon" src="{% static 'shinka/img/oborudovanie.png' %}" alt="Преимущество 2"></div>
        <p class="preim_text">Профессиональное оборудование:<br>
шиномонтажная оборудована всем необходимым для качественной замены и установки шин</p>
      </li>
      <li class="advantages-item">
        <div class="circle"><img class="icon" src="{% static 'shinka/img/scorost.png' %}" alt="Преимущество 3"></div>
        <p class="preim_text">Быстрое обслуживание: <br>
на шиномонтажной оперативно выполняют замену шин, что экономит время клиентов</p>
      </li>
    </ul>
    <img src="{% static 'shinka/img/преимущества2.jpg' %}"  alt="Фото шины" class="photo_preim">
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="circle"><img class="icon4" src="{% static 'shinka/img/usluga.png' %}" alt="Преимущество 4"></div>
        <p class="preim_text">Разнообразие услуг:<br>
помимо замены шин, шиномонтажная может предложить услуги по ремонту проколов, балансировке колес и прочее</p>
      </li>
      <li class="advantages-item">
        <div class="circle"><img class="icon" src="{% static 'shinka/img/koleso.png' %}" alt="Преимущество 5"></div>
        <p class="preim_text">Качественные материалы:<br>
на шиномонтажной используются только качественные шины и расходные материалы</p>
      </li>
      <li class="advantages-item">
        <div class="circle"><img class="icon" src="{% static 'shinka/img/mobil.png' %}" alt="Преимущество 5"></div>
        <p class="preim_text">Индивидуальные рекомендации:<br>
 Наши профессионалы всегда готовы помочь подобрать оптимальные шины и предложить рекомендации по техобслуживанию.</p>
      </li>
    </ul>
  </section>

<section class="testimonial-section">
    <h1 class="titleotziv">Отзывы</h1>
    <p class="titleotziv">Автовладельцы о нас</p>
    <div class="bel">
    <div class="testimonial-container">
    <div class="testimonial-slider">
        {% for review in reviews %}
        <div class="testimonial-slide">
            <img src="{{ review.photo.url }}" alt="{{ review.author }}" class="avatar">
            <p class="author">{{ review.author }}</p>
            <p class="review-text">{{ review.review_text }}</p>
        </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
    <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>
    </div>
</section>
 {% include 'main/question_form.html' %}
<!-- Подключение статического JavaScript файла -->
<script src="{% static 'shinka/js/script_slider.js' %}"></script>
{% endblock %}