<!doctype html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% static 'shinka/css/styles.css' %}" rel="stylesheet" media="screen and (min-width: 1024px)"/>
    <link type="text/css" href="{% static 'shinka/css/styles_tablet.css' %}" rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 1023px)">
    <link type="text/css" href="{% static 'shinka/css/styles_mobile.css' %}" rel="stylesheet" media="screen and (max-width: 767px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Подключаем стили для иконок -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <div class="header">
      <a href="{% url 'index' %}" rel="stylesheet">Шинсервис Бтск-Дон</a>
        <div class="contact_header">
            <img class="icon4" src="{% static 'shinka/img/адрес.png' %}" alt="Адрес">
        <p><a href="https://www.google.com/maps/search/?api=1&query=г.+Батайск,+ул.+Октябрьская,+42" target="_blank">г. Батайск, ул. Октябрьская, 42</a></p>
        <img class="icon4" src="{% static 'shinka/img/телефон.png' %}" alt="Телефон">
        <a href="tel:+79198974008">+7 (919) 897-40-08</a>
        </div>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="{% url 'index' %}" rel="stylesheet">Главная</a></li>
      <li><a href="{% url 'about' %}" rel="stylesheet">О нас</a></li>
      <li><a href="{% url 'uslugi' %}" rel="stylesheet">Услуги и акции</a></li>
      <li><a href="{% url 'contacts' %}" rel="stylesheet">Контакты</a></li>
    </ul>
  </nav>
    {% block content %}
    {% endblock %}
<footer class="footer">
  <div class="column">
    <p>Меню:</p>
    <ul>
      <li><a href="{% url 'index' %}">Главная</a></li>
      <li><a href="{% url 'about' %}">О нас</a></li>
      <li><a href="{% url 'uslugi' %}">Услуги и акции</a></li>
      <li><a href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
  </div>
  <div class="column">
    <p>Контакты:</p>
      <ul>
      <li><a href="tel:+79809991110">+7 (980) 999-11-10</a></li>
      <li><a href="tel:+79185707035">+7 (918) 570-70-35</a></li>
          <li><a href="tel:+79198974008">+7 (919) 897-40-08</a></li>
      <li>Email: <a href="mailto:shinservicebtskdon@gmail.com">shinservicebtskdon@gmail.com</a></li>
      </ul>
  </div>
<div class="column">
    <p>Мы в соц.сетях:</p>
     <a href="https://wa.me/79895257006" target="_blank">
        <img class="icon4" src="{% static 'shinka/img/вотсап.png' %}" alt="Вотс ап">
    </a>
    <a href="https://t.me/Shinservice_btsk_don" target="_blank">
        <img class="icon4" src="{% static 'shinka/img/телега.png' %}" alt="Телеграм">
    </a>
    <p>Авито: <a href="https://www.avito.ru/brands/i204020360/all?sellerId=fda4ce9fc4a23d9bd901a9d8045ee7ab" target="_blank">ШИНСЕРВИС БТСК-ДОН 761ru</a></p>
    <p>Режим работы: с 9.00 - 22.00</p>
</div>

  <div class="column">
    <p>Адрес:</p>
    <p><a href="https://www.google.com/maps/search/?api=1&query=г.+Батайск,+ул.+Октябрьская,+42" target="_blank">г. Батайск, ул. Октябрьская, 42</a></p>
<br>
    <a href="{% url 'uslugi' %}#booking_form" class="button">Записаться</a>
  </div>
</footer>

<!-- Кнопка "Вверх" -->
<a href="#" class="button_strelka" style="position: fixed; bottom: 20px; right: 20px;">&#8593;</a>

</body>
</html>