<!doctype html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% static 'shinka/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Подключаем стили для иконок -->
</head>
<body>
  <div class="header">
        <p>Шинсервис Бтск-Дон</p>
        <div class="contact_header">
            <img class="icon4" src="{% static 'shinka/img/адрес.png' %}" alt="Адрес">
        <p>г. Батайск, ул. Октябрьская, 42</p>
        <img class="icon4" src="{% static 'shinka/img/телефон.png' %}" alt="Телефон">
        <p>+7 (919) 897-40-08</p></div>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="{% url 'index' %}" rel="stylesheet">Главная</a></li>
      <li><a href="{% url 'about' %}" rel="stylesheet">О нас</a></li>
      <li><a href="{% url 'uslugi' %}" rel="stylesheet">Услуги и акции</a></li>
      <li><a href="{% url 'contacts' %}" rel="stylesheet">Контакты</a></li>
    </ul>
    <form class="search-form" method="GET" action="{% url 'search' %}">
      <input type="text" placeholder="Поиск...">
      <button type="submit"><i class="fas fa-search"></i></button> <!-- Используем иконку для кнопки поиска -->
    </form>
      <!-- search_form.html -->
<form >
    {% csrf_token %}
    {{ form }}
    <button type="submit">Search</button>
</form>

  </nav>
    {% block content %}
    {% endblock %}
<footer class="footer">
  <div class="column">
    <p>Меню:</p>
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Услуги и акции</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
  <div class="column">
    <p>Контакты:</p>
    <ul>
      <li>+7 (980) 999-11-10</li>
      <li>+7 (919) 897-40-08</li>
      <li>Email: shinservice@gmail.com</li>
    </ul>
  </div>
  <div class="column">
    <p>Мы в соц.сетях:</p>
      <img class="icon4" src="{% static 'shinka/img/телега.png' %}" alt="Телеграм">
      <img class="icon4" src="{% static 'shinka/img/вотсап.png' %}" alt="Вотс ап">
    <p>Авито: ШИНСЕРВИС БТСК-ДОН 761ru</p>
  </div>
  <div class="column">
    <p>Адрес:</p>
    <p>г. Батайск, ул. Октябрьская, 42</p><br>
    <a href="#" class="button">Записаться</a>
  </div>
</footer>

<!-- Кнопка "Вверх" -->
<a href="#" class="button_strelka" style="position: fixed; bottom: 20px; right: 20px;">&#8593;</a>

</body>
</html>