{% extends 'main/layout.html' %}
{% load static %}

{% block title%}
Услуги и акции
{% endblock %}

{% block content %}
    <h1 class="about">Наши услуги</h1>

    {% if services %}
    <div class="services-container">
        {% for service in services %}
            <div class="service">
                <img src="{{ service.photo.url }}" alt="{{ service.name }}" class="photo_uslug">
                <h3 class="name_uslug">
                    <a href="{% url 'service_detail' service.id %}" class="service-link">{{ service.name }}</a>
                </h3>
            </div>
        {% endfor %}
    </div>
    {% elif service %}
    <h2 class="name_uslug2">{{ service.name }}</h2>
    <div class="service-detail-container">
        <div>
            <img class="photo_uslug2" src="{{ service.photo.url }}" alt="{{ service.name }}">
        </div>
        <div class="full_description2">
            <p>{{ service.full_description }}</p>
        </div>
    </div>

    {% endif %}

{% endblock %}