{% extends 'main/layout.html' %}
{% load static %}

{% block title%}
Услуги и акции
{% endblock %}

{% block content %}
<section class="testimonial-section2">
    <h1 class="titleotziv">Акция!</h1>
    <div class="testimonial-container2">
    <div class="testimonial-slider2">
        {% for action in actions %}
        <div class="testimonial-slide">
            <img src="{{ action.photo.url }}" alt="{{ action.author }}" class="avatar2">
            <p class="author2">{{ action.author }}</p>
        </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
    <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>
</section>

<h1 class="about">Наши услуги</h1>
{% if services %}
<div class="services-container">
    {% for service in services %}
    <div class="service">
        <a href="{% url 'service_detail' service.id %}">
        <img src="{{ service.photo.url }}" alt="{{ service.name }}" class="photo_uslug">
        <h3 class="name_uslug">
            <a href="{% url 'service_detail' service.id %}" class="service-link">{{ service.name|linebreaksbr}}</a>
        </h3>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Нет доступных услуг.</p>
{% endif %}

 <div id="booking_form" class="usluga-form">
    <div class="form-header">Записаться на услугу</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name }}
            {% for error in form.name.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email }}
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.phone }}
            {% for error in form.phone.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.tire_size }}
            {% for error in form.tire_size.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.service }}
            {% for error in form.service.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-row">
            <div class="form-group">
                {{ form.appointment_date }}
                {% for error in form.appointment_date.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}

            </div>
            <div class="form-group">
                {{ form.appointment_time }}
                {% for error in form.appointment_time.errors %}
                     <div class="error error-white">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            {{ form.comment }}
            {% for error in form.comment.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group form-checkbox">
            {{ form.agreement }}
            <label for="{{ form.agreement.id_for_label }}"><p class="sogl">{{ form.agreement.label }}</p></label>
            {% for error in form.agreement.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-submit">
            <button type="submit">Отправить</button>
        </div>
    </form>
</div>


<!-- Плагин для правильного форма ввода телефона  -->
<script src="https://cdn.jsdelivr.net/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
 <!-- Подключение статического JavaScript файла -->
<script src="{% static 'shinka/js/phone.js' %}"></script>
<script src="{% static 'shinka/js/script_slider.js' %}"></script>
{% endblock %}
